@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");

body {
  font-family: "Dosis", Arial, Helvetica, sans-serif;
  margin: 25px;
  background-color: lightgray;
}

header {
  background-color: cadetblue;
  margin: -25px;
}

h1 {
  font-weight: 500;
  font-size: 75pt;
  padding: 75px 100px 100px 100px;
  margin-top: 0;
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  margin: 25px;
}

nav {
  text-align: right;
  font-size: larger;
}

a:link {
  padding: 0 5px 0 5px;
  text-decoration: none;
  color: black;
}

a:visited {
  color: white;
}

a:hover {
  color: darkgray;
  cursor: pointer;
}

.btn {
  font-family: "Dosis";
  font-size: 1.5em;
  width: 95%;
  height: 130px;
  padding: 20px;
  background: cadetblue;
  margin: 20px;
  /* font-size: larger; */
  color: white;
  border-radius: 8px;
  box-shadow: 4px 4px 4px gray;
}

.btn:active {
  transform: translateY(4px);
}

#num-dogs {
  width:40px;
  border: none;
  text-align: center;
}

#dog {
  width: 50px;
  height:50px;
}

#errorMessage {
  color: red;
}